:root {
    background: linear-gradient(45deg, rgba(255, 0, 0, 0.4), rgba(0, 255, 0, 0.4), rgba(0, 0, 255, 0.4));
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

html,
body {
    min-height: 100%;
}

body {
    width: 75%;
    margin: auto;
}

h1 {
    margin: 1rem auto;
    font-size: 3rem;
}

h1,
h2,
h3 {
    font-family: "Audiowide", serif;
    text-decoration: underline;
}

p,
ul,
button {
    font-family: "Montserrat", sans-serif;
}

canvas {
    width: 100%;
    min-height: 100%;
}

#gameArea {
    width: 1000px;

    margin: auto;
    display: flex;
    flex-flow: column;
}

#gameTitle,
#gameBoard,
#ui,
#results {
    display: flex;
    flex-flow: row;
    background-color: rgba(255, 255, 255, 0.5);
    border: 3px solid black;
    border-collapse: collapse;
    text-align: center;
}

#canvasArea,
#instructions,
#changes,
#colors,
#scoreboard {
    flex: 1 1 auto;
    border: 3px solid black;
    border-collapse: collapse;
}

#changes,
#colors,
#scoreboard {
    text-align: center;
    padding: 1rem;
}

#gameTitle {
    margin-top: 2rem;
    border-top: 6px solid black;
    border-left: 6px solid black;
    border-right: 6px solid black;
}

#canvasArea,
#instructions {
    width: 50%;
}

#instructions {
    text-align: left;
    padding: 1rem;
}

#changes {
    width: 25%;
}

#colors {
    width: 50%;
}

#scoreboard {
    width: 25%;
}

section#scoreboard p {
    display: inline-flex;
    margin: auto;
}

#results {
    margin-bottom: 2rem;
}

#gameOver,
#highScore,
#winner {
    font-size: 1rem;
    font-weight: 700;
    margin: auto;
    text-align: center;
}

.color-select {
    flex: 1 1 auto;
}